$main-font: "Open Sans", sans-serif;
$heading-font: "Satisfy", cursive;
$bg-color: #fff;
$text-xl: 3rem;
$text-lg: 2.5rem;
$text-md: 2rem;
$text-sm: 1.6rem;
$text-xs: 1.3rem;
$header-height: 110px;

$color: (
  primary: #2a3342,
  secondary: #183d6e,
  accent: #e5a124,
  light-gray: #6b6b6b,
);

@function colors($color-name) {
  @return map-get($color, $color-name);
}

@mixin borderSize($w: 100%, $h: 3px) {
  width: $w;
  height: $h;
}

@mixin flexBox(
  $direction: row,
  $justify: center,
  $align: center,
  $text: center
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  text-align: $text;
}

@mixin transition($time: 0.5s) {
  transition: all $time ease;
}

.buffer {
  width: 100%;
  height: $header-height;
}

.container {
  width: 75%;
  height: 100%;
  margin: auto auto;
}

.current {
  a {
    color: colors(secondary) !important;
  }

  &::before {
    transform: scaleX(1) !important;
  }
}

.btn {
  background: colors(accent);
  border: 2px solid colors(primary);
  border-radius: 5px;
  color: #fff;
  font-size: 1.15rem;
  padding: 0.6rem 0.1rem;
  font-weight: 300;
}

// Media
@mixin mediaSm {
  @media screen and (max-width: 600px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 800px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 801px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
