@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  color: #fff;
}

/* Global */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

// Header
.header {
  @include flexBox($justify: space-between, $text: left);
  position: fixed;
  top: 0;
  width: 100%;
  background: $primary-color;
  padding: 1rem 5rem;
  border-bottom: 10px $secondary-color double;

  .logo {
    font-size: $text-xl;
    font-family: $heading-font;
    font-weight: 600;
    letter-spacing: 1.5px;

    span {
      color: $secondary-color;
    }
  }

  .nav {
    @include flexBox($direction: column, $justify: space-between);

    &-menu {
      @include flexBox;
      margin: 1rem 0;

      &-item {
        margin: 0 1rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;

        a {
          color: $secondary-color;
          position: relative;
          padding: 0.3rem 0;

          &::before {
            content: "";
            position: absolute;
            background: #fff;
            height: 2px;
            width: 100%;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: left;
            @include transition;
          }

          &:hover::before {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .hamburger {
    display: none;
  }
}
